@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');


.services-image {
    height:150px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
.services-content{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 15px 15px;
    padding:20px;
}
.services-title{
    font-size: 18px;
    font-weight: 500;
    color: #282828;
}
.services-description{
    font-size: 16px;
    font-weight: 300;
    color: #282828;
}

@media screen and (max-width:575px) {
    .services-content{
        padding:15px 25px;
    }
    .services-title {
        font-size: 15px;
    }
    .services-description{
        font-size: 12px;
    }
    .services-image {
        height:125px;
    }
}