.welcome-cont {
    padding-top: 25px;
}
.welcome {
    background: #d2eaff;
}
.welcome-cont > div {
    background: white;
}
.welcome-img {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.register-btn {
    font-size: 18px;
    background-color:  rgb(70, 153, 179);
    color: white;
    padding-right: 80px;
    padding-left: 80px;
}
.register-btn:hover {
    border: 1px solid rgb(70, 153, 179);
    color: rgb(70, 153, 179);
}
.sign-in-link {
    color: rgb(70, 153, 179);
}

@media only screen and (min-width: 992px) {
    .welcome-cont > div {
        width: 75%;
    }
    .welcome-cont {
        padding-top: 60px;
    }
}