* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}

.form-container {
    background-color: #dddddd66;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 60px;
    max-width: 500px;
    margin: 140px auto 0;
}


.form-container input {
    border: 1px solid #dddfe2;
    color: #1d2129;
    padding: 10px;
    outline: none;
    margin-bottom: 10px;
    border-radius: 5px;
}

.form-container input:focus {
    border-color: #1877f2;
    box-shadow: 0 0 0 2px #e7f3ff;
}




label,
input {
    display: block;
    width: 100%;
}

label {
    font-size: 20px;
    margin-bottom: 5px;
}


input.error {
    border-color: red;
}

.error-msg {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    background-color: rgb(70, 153, 179);
    color: white;
    border: 1px solid rgb(70, 153, 179);
    border-radius: 1px;
    background-color: 250ms;
}

button:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(70, 153, 179);
}