.explore-title {
    font-weight: 500;
    font-size: 40px;
    color: #282828;
}

.accordion-button:active, .accordion-button:focus {
    background: white !important;
    color: #282828;
    box-shadow: none;
    border: 0.8px solid rgba(40, 40, 40, 0.2);
}

.explore-things {
    border: 0.8px solid rgba(40, 40, 40, 0.2);
    border-radius: 15px !important;
    font-size: 22px;
    padding: 23px 20px;
    color: #282828;
    margin: 0 0 10px;
}


@media screen and (max-width:767px) {
    .explore-title {
        font-size: 30px;
    }
}
@media screen and (max-width:575px) {
    .explore-title {
        font-size: 20px;
    }
    .explore-things  {
        font-size: 15px;
    }
}